/* Add here all your CSS customizations */
#home{
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100vh;
    background-color: black;
}

.clientes .container{
    margin: 1% auto;
    width: 50%;
}
.clientes img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 5px;
    bottom: 0;   
}

.fade-logo{
    box-shadow: none;
    left: 10%
}

#what-we-do img{
    width: 100%;
}